<div class="card">
  <div class="card-header">
    Category
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= category.name %></h4>
    <p class="card-text">See the products under this <%= category.name %>.</p>
    <a href="/categories/<%= category.id %>" class="btn btn-primary">See products</a>
  </div>
</div>

<br>